{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier", "next/core-web-vitals"],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "react/function-component-definition": [
      1,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "import/no-anonymous-default-export": [2, { "allowObject": true }],
    "import/prefer-default-export": "off",
    "react/forbid-prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      }
    }
  }
}
